<div id="header">
  <div class="container">
    <div class="row">
      <div class="header-wrapper">
        <div class="logo">
          <h1><span>Kanban</span> <span> Board</span></h1>
        </div>
        <div class="features">
          <div class="notification me-4">
            <div class="active" *ngIf="newNotification" (click)="newNotification = false"></div>
            <i class="fa-solid fa-bell" (click)="openNotifications()"></i>
            <div class="list">
              <div class="head">Notification</div>
              <div class="wrapper" *ngFor="let notification of notifications"
                (click)="goToDetails(notification.taskId)">
                <div class="image">
                  <img [src]="notification.image" [alt]="notification.title">
                </div>
                <div class="content">
                  <h6>{{ notification.address }}</h6>
                  <p class="title">{{ notification.title }}</p>
                  <p class="name">{{ notification.createdBy }}</p>
                </div>
                <!-- <div class="seen isNotSeen"></div> -->
              </div>
            </div>
          </div>
          <div class="dropdown-center settings">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-gear"></i>
            </button>
            <ul class="dropdown-menu p-0">
              <li (click)="openProfile()"><a class="dropdown-item">Profile</a></li>
              <li (click)="onLogout()"><a class="dropdown-item">Logout</a></li>
            </ul>
          </div>
          <div class="profile-picture">
            <p>{{userData?.displayName}}</p>
            <div class="image">
              <img [src]="userData?.profilePicture" [alt]="userData?.displayName" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-user-information *ngIf="userData && showProfile" [userData]="userData"></app-user-information>